@import "tailwindcss";
@import './Components/CSSComponents/RootVariables.css';
@import "./Components/CSSComponents/Navbar.css";
@import "./Components/CSSComponents/Hero.css";
@import "./Components/CSSComponents/Features.css";
*{
    /* border: 0.1px solid red; */
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.screen_presence_msg{
    display: none;
}

@media only screen and (max-width: 1000px) {
    .screen_presence_msg{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: bolder;
        font-size: var(--font-in-your-face);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-align: center;
        padding: 20px;
        padding-top: 200px;
        background-color: var(--secondary-color-two);
    }
        .screen_presence_msg > img{
            width: 40%;
            height:  40%;
        }
}